.contEncabezado{
	height: 100px;
	width: auto; 
}

.contEncabezadoIzq{
	float: left;
	height: 100px; 
	text-align: left;
	width: 25%; 
}

.contEncabezadoCentro{
	float: left;
	height: 100px; 
	text-align: center;
	width: 50%; 
}

.contEncabezadoDere{
	float: left;
	height: 100px; 
	text-align: right;
	width: 25%; 
}

.estEncabezado{
	height: 70px; 
	width: auto;
}

.estEncabezadoA{
	float: left;
	height: 70px; 
	width:50%;
}

.estTituloA{
	font-size: 18px;
	font-weight: bold;
	
}
.estTituloB{
	font-size: 14px;
	font-weight: bold;
}

.estTituloC{
	color: #6B6C6D;
	font-size: 12px;
	font-weight: bold;

}

.conoEncabezado{
	height: 150px; 
	width: auto;
}

.contConociA{
	width: auto;
	border: 1px green solid; 

}



.cvFoorter{
	background-color: #76C7C0; 
	height: 50px; 
	padding: 5px;
	text-align:left;
	width: auto; 
}

.cvFooterTotuloA{
	color: white;
	font-size: 12px;
	font-weight: bold;
}


